@charset "UTF-8";
header {
	width: auto;
	height: 50px;
	display: flex;
	justify-content: center;
	position: sticky;
	border-bottom: 2px solid black;
	margin: 0px auto;
  	top: 0;
	left: 0;
	right: 0;
	padding-top: 75px;
	background-color:white;
	z-index:50;	/*배너때매 걍 널널하게 줬습니다*/
}
.top{
	flex-grow:1;
}
.top.menu{
	margin-left:50px;
}
.top.left {
	
}
.top.center {
	
}

.top.right.login {
	display: grid;
	justify-items: center;
	z-index:5000;
}
.top.right img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.top.Search {
	
}


footer {
	height: 150px;
	text-align: center;
	font-size: 10px;
}