@charset "UTF-8";

body {
	width: 1200px;
	margin: 0px auto;
	-webkit-touch-callout: none;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	font-family: 'Pretendard-Regular';
}

a {
	text-decoration: none;
	color: black;
}

.pfimg {
	height: 150px;
	width: 150px;
	border-radius: 100px;
	object-fit: cover;
}

.option {
	position: sticky;
	position: -webkit-sticky;
	top: 151px;
	width: 350px;
	font-size:17px;
	text-align: center;
	float: right;
}

.option_article {
	border: 1px solid gray;
}

.optionblank {
	height: 50px;
}

.explain {
	width: 810px;
	text-align: center;
}

.boximg {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.conimg {
	object-fit: contain;
	width: 630px;
}

.detail_price {
	text-align: right;
}

.listable {
	border: 1px solid pink;
	justify-content: space-between;
}

ul {
	padding: 0;
	margin: 0px auto;
	text-align: center;
	list-style: none;
}

.fbox {
	display: flex;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.fclear {
	clear: both;
}

.fcenter {
	justify-content: center;
}

.btnli {
	border: 1px solid #DBDBDB;
	width: 50%;
}

.btnli:hover {
	cursor:pointer;
	background-color: #ff4900;
	color: white;
}

.colortobox {
	background-color: pink;
}

.reportbtn {
	text-align: right;
	width:810px;
}

.rpbtn {
	background-color: white;
	border: 0;
	margin: 20px;
	color: gray;
}

.rpbtn:hover {
	cursor:pointer;
	text-decoration: underline;
}

.detailnav {
	position: sticky;
	top: 151px;
	width: 810px;
	text-align: center;
	background-color: white;
}

.kwicon {
	cursor: default;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

.heart {
	font-size: 42px;
	color:gray;
	z-index:10;
}

.heart:hover {
	cursor: pointer;
	transform: scale(1.05, 1.05);
}

.detailnav ul {
	background-color: white;
	height: 50px;
}

.detailnav li {
	font-size: 24px;
	padding-top: 10px;
}

.emptybox {
	width: 100%;

}

.contentbox {
	margin:50px 0;
	font-size: 18px;
}

.contentbox img {
	width: 770px;
	object-fit: contain;
	margin:20px;
}

.headInfo img {
	height: 280px;
	width: 280px;
	margin:20px 0;
	object-fit: cover;
}

.headInfo {
	width: 810px;
	padding:20px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.headInfo table {
	width:350px;
	text-align: left;
	font-size: 17px;
}

.headInfo th {
	height: 29px;
	width: 80px;
}

.titles {
	font-size: 36px;
	font-weight:600;
}

.tradeway {
	display: flex;
	align-items: center;
	width: 100%;
}

.tradeway div {
	border: 1px solid #ff4900;
	color: #ff4900;
	padding: 3px 4px;
	margin-right: 10px;
	border-radius: 4px;
}

.pointerC:hover {
	cursor:pointer;
}

.hashli li {
	margin: 0 5px;
	border: 1px solid #ff8632;
	color: #ff8632;
	font-weight: 600;
	padding: 3px 5px;
	border-radius: 12px;
}

.profilebox {
	padding: 60px 0;
	text-align: center;
}
 
 .proftxt {
 	display: inline;
 	margin: 0 auto;
 	padding: 10px 5px;
 }
 
 .profbox {
 	margin-top: 15px;
 }
 
.jjimbtn {
	margin-top: 10px;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 42px;
	height: 42px;
	background-size: 42px;
	background-position: center;
	border:0;
}

.oneheart {
	background-image:url('/wishJam/img/favorite_gray.svg');
}

.twoheart {
	background-image:url('/wishJam/img/favorite_ff.svg');
}

.imgreview {
	margin-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DBDBDB;
	padding-left: 10px;
}

.th2 {
	margin: 20px auto;
	padding-bottom: 20px;
	width: 90%;
	border-bottom: 1px solid #BDBDBD;
	width: 90%;
	text-align: center;
	font-size: 2em;
}

.review {
	width: 810px;
	border: 1px solid gray;
}

.reviewul {
	justify-content: space-between;
}

.reviewul img {
	width: 145px;
    height: 145px;
    object-fit: cover;
}

.sleft {
	width: 100px;
}

.keyword a {
	text-decoration: none;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 50px;
	margin-right: 20px;
}

.keyword a:hover {
	box-shadow: 0px 0px 10px 0px #BDBDBD;
}

.smallimg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50px;
}

.rebox {
	justify-content: space-between;
	padding: 10px 10px 0 0;
}

.rebox2 {
	height: 100px;
	flex-direction: column;
	padding: 10px 0 0 20px;
}

.rstar {
	color: #ff630a;
	font-size: 28px;
}

.reply {
	position: relative;
	border-bottom: 1px solid #DBDBDB;
}

.totalrv {
	font-size: 25px;
	font-weight: bold;
}

.totalrs {
	font-size: 22px;
}

.rvul li {
	margin: 0 10px;
}

.pageA {
	text-decoration: none;
	color: black;
}

.moreArrow {
	align-items: center;
	display: flex;
}

.moreArrow:hover {
	cursor: pointer;
	background-color:#E6E6E6; 
}

.moreImg {
	display: none;
	flex-wrap: nowrap;
	overflow:hidden;
	margin: 10px 20px 13px 10px;
}

.moreboximg {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 5px;
	margin-right: 15px;
}

.rboximg {
	width: 135px;
	height: 135px;
	object-fit: cover;
	border-radius: 5px;
}

.moreimgbtn {
padding-top: 4px;
	text-align: center;
	margin: 0 3px 3px 3px;
}

.moreimgbtn:hover {
	cursor: pointer;
	background-color:#E6E6E6; 
}

.pageArrow {
	padding: 10px 0px;
}

.revbox2 {
	text-align: center;
	font-size:30px;
}

.namebox {
	font-size:22px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.forarrow {
	position: absolute;
	top:290px;
    position: absolute;
    top: 290px;
    right: 1px;
    display: none;
    width: 30px;
    height: 27px;
    padding-top: 3px;
    border-radius: 50px;
    text-align: center;
}

.forarrow:hover {
	background-color:#E6E6E6;
	
}